<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <form class="form-container" th:action="@{/SubmitLog}" th:object="${logUser}" method="post">
            <h2>Login</h2>
            <div th:if="${loginError}">
                <span style="color: red;" th:text="${loginError}"></span>
            </div>
            <div th:if="${verificationError}">
                <span style="color: red;" th:text="${verificationError}"></span>
            </div>
            <input type="email" placeholder="Email Address" required th:field="*{email}">
            <input type="password" placeholder="Password" required th:field="*{password}">
            <input type="submit" value="Register" id="button">
            <p>Don't have an account? <a href="register">Register</a></p>
        </form>
    </div>
</body>
</html>
